*{
	
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}
html {
  scroll-behavior: smooth;
}
body{
	font-family: 'oswald';
}
h1{
	/*font-family: */
	/*font-size: 50px;*/
}
h2{
	/*font-family: */
	/*font-size: 40px;*/
}

.logo{
	height: 10px;
	width: 10px;
}

/*start nav*/


nav{
	
	
	background-color:#211d54!important;
	
    /*padding: 0rem 1rem!important;*/
  
  
}

nav ul .active{
	background-color:white;
	color: #211d54!important;;
	
}


.nav-link{
	
	
	color:lightgray!important;
	padding: 1rem!important;
	font-transform:uppercase;
	font-size: 20px!important;

   
}
.navbar-brand{
	
	
	color:white!important;
	padding: 1rem!important;
	font-transform:uppercase;

   
}

.nav-link:hover{
	
	
	color:#211d54!important;
	background-color:white;


}

.navbar-toggler{
	  height: 40px;
	  background-color:white;
	  opacity: .9;
	  margin-right: 3px;


}

.navbar-toggler:hover{
  color: #702124;
  background-color:#702124;

}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}


/* end navbar */




/*start clear*/

 #clear{
	content:" ";
	clear: both;
}

/*end clear*/




/*div social media*/
#show-social-media{
height: auto;
    width: auto;
    left: 0px;
    top: 205px;
    padding: 5px;
    position: fixed;
    z-index: 500;
    background:rgba(0,0,0,.4);
    
}

#hide-social-media{
height: auto;
    width: auto;
    left: 0px;
    top: 470px;
    padding: 5px;
    position: fixed;
    z-index: 500;
    background:rgba(0,0,0,.4);
    
}
/*button social media*/
button{
	border-style: none;
}
button:focus{
	outline: none;
}


#social-media
 {
    height: auto;
    width: auto;
    left: 0px;
    top: 250px;
    padding: 5px;
    position: fixed;
    z-index: 500;
    background:rgba(0,0,0,.4);
    font-size: 30px;
    text-align: center;
      display: none;

   	line-height: 48px;
    border: 2px solid transparent;
  }

/*end  div social media*/




 /* start red message*/
   .panel{
                
                
                
                background-color:  #dc3545;
                position: fixed;
                bottom: 90px;
                right: 20px;
                padding: 20px;
                z-index: 2;
                height: 450px;
                width:20%;
                display: none;
            }
          
             .fa-comment{
             	bottom: 20px;
                right: 20px;
               	position: fixed!important;
               	z-index: 50!important;

            }

 			.panel button{
				position: absolute;
				top:0px;
				right:10px;
				border: none;
				background-color:  #dc3545;
				color: white;
				font-size: 30px;
				padding-right: 4px;
			}
			 
			   .panel input{
				border-style: none;
			}


				.panel input:focus{
				
				outline: none;
				
			}

				.panel button:focus{
				
				outline: none;
				
			}
				.panel textarea{
				outline: none;
			}

				.panel textarea:focus{
				
				outline: none;
				
			}

            .form2{

        	border:1px solid gray;
        	padding: 30px;

        }
       .form2 input{
       	border-radius: 2px;

       }
    
			.charge{
				width: 22px!important;
			}


/*end red message*/


/*start section1*/
.main{

	  background-image: url('../images/industry-20.jpg');
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center;
  

}

  /*rightSide in section1*/

	.form1{
		border:1px solid black;
		background-color: #211d54;
		background-size: contain;
		text-align: center;
		margin-top: 250px;

	}

	.form1 input:focus{
	outline: none;

	}

	.form1 textarea:focus{
	outline: none;

	}


	.button
	{
	background: #702124;
	border-style: solid;
	border-color: #702124;
    color: white;
    }

	.button:hover{
		background-color: #211d54;
		border-color: #702124;
	}

  /*end rightSide in section1*/

  /* start left side in section1*/

.left-side{
	margin-top: 0px;
	padding: 50px;
	background:rgba(0,0,0,.4);
	color: white;
	/*text-align: center;*/
	height: auto!important;
	/*line-height: 2;*/
	position: relative;

}
    /*arrow on div1 in rightSide*/
	.arrow{
				content: '';
			    position: absolute;
			   right: -40px;
			   bottom: 60px;
		    
		    /*transform: rotateY(180deg);*/
		}

  /*end rightSide in Section1*/

  
/*end section1*/





/*start section2*/

.main2{
	background-image: url('../images/crane-inspection.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main2 video{
	background-color: rgba(0,0,0,.4);

}
.main2 video:focus{
outline: none;	
}


/*end section2*/






/*start section3   class portfilo1*/
.portifilo{
  background-color: #23252f!important;
  text-align: center;
  color: white!important;
  background-image: url('../images/construction-1181982_1920-1-1.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card .img4{
width: auto;
height: 150px!important;

}


/*end section3 */



/*start media query*/
@media screen and (max-width: 700px)
{
	body{
		overflow-x: hidden!important;
	}
    .navbar-brand{
    	margin-left:-150px!important;
    }

	/*start social media div*/
		#social-media{
        
		 /*margin-left: 20px!important;*/

	}
	#social-media i{
		font-size: 25px;
	}
	.left-side{
		/*background: none;*/
		width: 100%;
		padding: 0px;
	}

	/*end social media div*/
    



/*start red message*/
.panel{
	width: 70%!important;
}

    /*start section1*/

	    /*right leftSide*/
		.main form{
			
			width:150%!important;
			
		} 
		/*end rightSide*/

		/*start left side*/
		.left-side{
			margin-top:200px!important;
			margin: auto;
			width: 80%;
		}
		/*end leftSide*/

    /*end section1*/



	/*start section2*/
	.main2 video{
		width: 500px!important;
	
	}
	/*end section2*/

	/*start section3*/
	.portifilo .card2{
		padding-top: 80px!important;
	}


   /*end section3*/
	
}


.site-footer {
    background: #211d54;
    color: #ddd;
    font-size: 16px;
    line-height: 26px;
    --wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
font: 18px/28px 'PT Sans',sans-serif;
font-family: Cairo;
font-weight: 400;
font-style: normal;
box-sizing: border-box;
display: block;
background: #211d54;
color: #ddd;
font-size: 16px;
line-height: 26px;
}